<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">
 
<head>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
 
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="google" value="notranslate">
 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="assets/css/bootstrap-social.css" />
 
  <title>My App</title>
</head>
 
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">My App</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right">
          <div class="form-group">
            <div id="facebook">
                <a class="btn btn-block btn-social btn-google" href="/auth/google">
                  <span class="fa fa-google"></span>
                  Sign in with Google
                </a>
              </div>
      </div>
    </div>
  </nav>
 
  <div class="jumbotron">
    <div class="container">
      <h1>Hello, world!</h1>
      <p>
        This is a template for a simple marketing or informational website. It includes a large callout
        called a jumbotron and three supporting pieces of content. Use it as a starting point to create
        something more unique.
      </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>
 
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Section 1</h2>
        <p>Some information for section 1</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Section 2</h2>
        <p>Some information for section 2 </p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Section 3</h2>
        <p>Some information for section 1</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>
 
    <hr>
 
    <footer>
      <p>Cloud Computing</p>
    </footer>
  </div> <!-- /container -->
 
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>